* {
	font-size: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*::, *::before *::after {
	box-sizing: inherit;
}

body {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background-color: linear-gradient(#e66465, #9198e5);
	background-image: url(/img/pexels-jakub-novacek-924824.jpg);
	font-family: "Poppins", sans-serif;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

div button {
	border-radius: 3px;
	height: 30px;
	width: 90%;
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 0.925rem;
	border: none;
}

div button:hover {
	background-color: rgba(240, 242, 239, 0.7);
}

#welcome {
	font-size: 1.5rem;
	margin-top: 5vh;
	margin-bottom: 3vh;
	color: white;
}

#card {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(52, 47, 54, 0.7);
	border-radius: 20px;
	padding: 10px;
	width: auto;
	height: auto;
	min-height: 450px;
}

#screen {
	border-radius: 30px;
	width: auto;
	height: 50%;
	background-color: rgba(251, 251, 242, 0.9);
	width: 265px;
	height: 265px;
	padding: 15px 15px;
	margin: 30px 15px;
}

#scoreStatus {
	margin-bottom: 20px;
	/* visibility: hidden; */
}
#actionButton {
	display: flex;
}

#startButton {
	margin-top: 20px;
	width: 75%;
}
